h1 {
	font-family: TimesNewRoman;
	text-align: center;
	font-size: 60px;
}

body {
  	background: #81ca80;
}

form {
  	width: 100%;
  	height: 150px;
  	padding: 12px 20px;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: #f8f8f8;
  	font-size: 16px;
  	resize: none;
}
	
